<launch>

	<arg name="fcu_url" default="/dev/ttyACM0:57600" />
	<arg name="gcs_url" default="" />
	<arg name="tgt_system" default="1" />
	<arg name="tgt_component" default="1" />
	<arg name="pluginlists_yaml" default="$(find-pkg-share eagleeye_tools)/config/mavros/x4_plugins.yaml" />
	<arg name="config_yaml" default="$(find-pkg-share eagleeye_tools)/config/mavros/x4_config.yaml" />
	<arg name="log_output" default="screen" />
	<arg name="fcu_protocol" default="v2.0" />
	<arg name="respawn_mavros" default="false" />
	<arg name="namespace" default="mavros"/>
	<arg name="use_sim_time" default="false"/>
	
	<arg name="base_link_frame_id" default="base_link"/>
	<arg name="odom_frame_id" default="odom"/>
	<arg name="map_frame_id" default="map"/>

	<arg name="vision_pose_topic" default="vision_pose/pose"/>

	<node pkg="mavros" exec="mavros_node" namespace="$(var namespace)" output="screen">
		<param name="fcu_url" value="$(var fcu_url)" />
		<param name="gcs_url" value="$(var gcs_url)" />
		<param name="tgt_system" value="$(var tgt_system)" />
		<param name="tgt_component" value="$(var tgt_component)" />
		<param name="fcu_protocol" value="$(var fcu_protocol)" />
		<param name="use_sim_time" value="$(var use_sim_time)" />
		
		<param name="base_link_frame_id" value="$(var base_link_frame_id)" />
		<param name="odom_frame_id" value="$(var odom_frame_id)" />
		<param name="map_frame_id" value="$(var map_frame_id)" />

		<param from="$(var pluginlists_yaml)" />
		<param from="$(var config_yaml)" />

		<remap from="/diagnostics" to="diagnostics"/>
		<remap from="vision_pose/pose" to="$(var vision_pose_topic)"/>
	</node>

</launch>
